* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

[v-cloak]{
  display: none;
}

html {
  font-family: sans-serif;
}

:root {
  /* backgrounds */
  --body-bg : #dbdbdb;
  --body-top-bg: #009688;
  --app-bg: #eaeaea;
  --notification-bg: #8edafc;
  --search-bg: #f9f9f9;
  --input-bg: white;
  --contacts-list-bg: white;
  --contact-bg : white;
  --selected-contact-bg : #e9ebeb;
  --chat-inputs-bg : #f3eeea;
  --sent-msg-bg : #d5f9ba;
  --received-msg-bg : white;
  --menu-bg: white;
  
  /* borders  */
  --app-border: #d5d5d4;
  --input-border-color: #e9ebeb;
  /* btn */
  --btn-color: #b1b1b1;
  --btn-dark-color: #6b7376;
  /* text */
  --text-gray : #b1b1b1;
}

/* UTILITY */
.position-rel {
  position: relative;
}
.position-abs{
  position: absolute;
}
.d-none {
  display: none;
}
.d-inline-block {
  display: inline-block;
  vertical-align: middle;
}
.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.d-grow {
  flex-grow: 1;
}
.text-end {
  text-align: end;
}
.text-center {
  text-align: center;
}
.btn {
  border: none;
  padding: 0 0.2rem;
  margin: 0 0.5rem;
  cursor: pointer;
  color: var(--btn-color);
  font-size: 1.5rem;
  vertical-align: middle;
}
.dark.btn {
  color: var(--btn-dark-color);
}
.btn:hover {
  background-color: transparent;
  color: var(--btn-dark-color);
}
.container {
  padding: 0.5rem 1rem;
}
.to-right{
  margin-left: auto;
}

/* dropdown */
.menu-wrapper {
  top: 0.5rem;
  right: 0;
  z-index: 9;
}
.menu-toggler {
  padding: 0.5rem;
}
.contains-menu-toggler:hover .menu-toggler {
  display: block;
}
.menu {
  margin-right: 0.5rem;
  list-style: none;
  background-color: var(--menu-bg);
  box-shadow: 0 0 2px 0 lightgray;
  border-radius: 0.2rem;
  overflow: hidden;
}
.menu li{
  padding: 0.5rem 1rem;
  white-space: nowrap;
}
.menu li:hover {
  background-color: var(--selected-contact-bg);
}
/* /dropdown */

/* STYLE  */

body {
  background: linear-gradient( to bottom, var(--body-top-bg) 20%, var(--body-bg) 20% 100%) ;
}

#app-container {
  width: 80%;
  height: calc(100vh - 4rem);
  margin: 2rem auto;
  background-color: var(--app-bg);
  box-shadow: 0 0 3px 0 lightgray;
}

#left-container {
  width: 40%;
  height: 100%;
  border-right: solid 1px var(--app-border);
}
#right-container {
  width: 60%;
  height: 100%;
}

/* user & selected contact */
#user, #selected-contact {
  height: 70px;
}
#user img, #selected-contact img{
  object-fit: cover;
  height: 80%;
  border-radius: 50%;
  margin-right: 1rem;
}
.newContactMenu input {
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  border: 1px solid var(--input-border-color);
}
.newContactMenu input:focus {
  outline: 2px solid var(--app-border);
}
/* notification */
#notification.container {
  background-color: var(--notification-bg);
  height: 70px;
}
#notification-bell {
  width: 50px;
  margin-right: 1rem;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 1.5rem;
  color: var(--notification-bg);
  background-color: white; 
}
#notification a {
  color: var(--btn-dark-color);
}

/* search bar */
#contacts-search.container {
  background-color: var(--search-bg);
  height: 50px;
}
#contacts-search label {
  top: 1.5rem;
  left: 2rem;
  color: var(--btn-color);
  transform: translateY(-50%);
}
#contacts-search input {
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 2.5rem;
  border: none;
  background-color: var(--input-bg);
  border-radius: 0.3rem;
}
#contacts-search input:focus {
  outline: 2px solid var(--app-border);
}

/* contacts list */
#contacts-list {
  overflow-y: scroll;
  background-color: var(--contacts-list-bg);
  height: calc(100% - 190px);
}

.contact:not(:last-of-type) {
  border-bottom: 1px solid var(--selected-contact-bg);
}
.selected.contact {
  background-color: var(--selected-contact-bg) ;
}
.contact img {
  object-fit: cover;
  height: 50px;
  border-radius: 50%;
  margin: 0 1rem 0 0.5rem;
}
.contact-text {
  max-width: calc(100% - 100px);
  line-height: 1.5rem;
  margin-top: 0.25rem;
}
.contact .last-msg {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.9rem;
  color: var(--text-gray);
}
#contacts-list .msg-time {
  top: 0.5rem;
  right: 0.5rem;
}

.msg-time {
  text-align: end;
  font-size: 0.7rem;
  color: var(--text-gray);
}

/* selected contact */
.contact-last-access {
  color: var(--text-gray);
  font-size: 0.8rem;
  
}
#contact-arrow {
  margin: 0 0.2rem;
}

/* messages container */
#messages-container {
  height: calc(100% - 120px);
  padding: 1.5rem 3rem;
  overflow-y: scroll;
  background: repeat url(../img/mine.jpg);
}
#messages-container.full-heigth {
  height: 100%;
}
#messages-container .msg-wrapper {
  margin-bottom: 0.5rem;
}
.date-line {
  width: 100%;
  margin: 1rem 0;
  font-size: 0.8rem
}
.msg {
  min-width: 40%;
  max-width: 80%;
  border-radius: 0.8rem;
  padding: 1rem 2rem 1.5rem 1.5rem;
  box-shadow: 0px 5px 5px 0 gray;
  font-size: 0.9rem;
}
.sent.msg {
  margin-left: auto;
  background-color: var(--sent-msg-bg);
}
.received.msg {
  margin-right: auto;
  background-color: var(--received-msg-bg) ;
}
#messages-container .msg-time {
  bottom: 0.2rem;
  right: 0.5rem;
}

/* chat inputs */
#chat-inputs {
  height: 50px;
  background-color: var(--chat-inputs-bg) ;
}
#msg-bar {
  height: 100%;
  padding: 0.2rem 1rem;
  border: 1px solid var(--input-border-color);
  border-radius: 0.3rem;
}
#msg-bar:focus{
  outline: 2px solid var(--app-border);
}
#chat-inputs .spaced {
  width: 10%
}

.mobile-show {
  display: none;
}

@media screen and (max-width: 1000px){
  #app-container{
    width: 100%;
    height: 100vh;
    margin: 0;
  }
  .btn {
    font-size: 1rem;
    margin: 0 0.3rem;
  }
}
@media screen and (max-width: 700px) {

  #left-container {
    width: 100%;
  }
  #right-container{
    width: 100%;
  }
  .mobile-d-none {
    display: none;
  }
  .mobile-show {
    display: inline-block;
  }
  i {
    font-size: 0.8rem;
  }
  .btns {
    padding: 0.2rem;
    min-width: 100px;
  }
  .btn {
    margin: 0.3rem;
  }
  .contact-text {
    width: calc(100% - 200px);
  }
  .contact-last-access {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .container {
    padding: 0.5rem
  }
}
